#panel {
  max-width: 1920px;
  margin: 0 auto;
}
/* ширифты */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* /ширифты */
/* бибилиотеки */
.fancybox-bg {
  background: linear-gradient(0deg, rgba(0, 4, 121, 0.16) 0%, rgba(0, 4, 121, 0.16) 100%), rgba(0, 0, 0, 0.64);
}
.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.swiper-prev,
.swiper-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}
.swiper-prev.swiper-button-disabled,
.swiper-next.swiper-button-disabled {
  display: none;
}
.swiper-prev:hover,
.swiper-next:hover {
  background: #000479;
}
.swiper-prev:hover svg path,
.swiper-next:hover svg path {
  stroke: #FFF;
}
.swiper-prev {
  left: 0;
}
.swiper-next {
  left: 100%;
}
@media (max-width: 1200px) {
  .swiper-prev,
  .swiper-next {
    display: none;
  }
}
/* бибилиотеки */

/* общие настройки */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  box-sizing: border-box;

}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    margin: 0 -8px;
  }

  .row {
    margin: 0 -8px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 8px;
  }

  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: 100%;
  }

  .col-l-1 {
    width: calc(100% / 12);
  }

  .col-l-2 {
    width: calc(100% / 12 * 2);
  }

  .col-l-3 {
    width: calc(100% / 12 * 3);
  }

  .col-l-4 {
    width: calc(100% / 12 * 4);
  }

  .col-l-5 {
    width: calc(100% / 12 * 5);
  }

  .col-l-6 {
    width: calc(100% / 12 * 6);
  }

  .col-l-7 {
    width: calc(100% / 12 * 7);
  }

  .col-l-8 {
    width: calc(100% / 12 * 8);
  }

  .col-l-9 {
    width: calc(100% / 12 * 9);
  }

  .col-l-10 {
    width: calc(100% / 12 * 10);
  }

  .col-l-11 {
    width: calc(100% / 12 * 11);
  }

  .col-l-12 {
    width: 100%;
  }

  .ord-l-1 {
    order: 1;
  }
}
.hide {
  display: none !important
}
@media (max-width: 1200px) and (min-width: 600px) {
  .hide-l {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hide-d {
    display: none !important
  }
}

@media (max-width: 600px) {
  .grid {
    margin: 0 -8px;
    display: flex;
  }

  .row {
    margin: 0 -8px;
  }

  .col-m-1 {
    width: calc(100% / 12);
  }

  .col-m-2 {
    width: calc(100% / 12 * 2);
  }

  .col-m-3 {
    width: calc(100% / 12 * 3);
  }

  .col-m-4 {
    width: calc(100% / 12 * 4);
  }

  .col-m-5 {
    width: calc(100% / 12 * 5);
  }

  .col-m-6 {
    width: calc(100% / 12 * 6);
  }

  .col-m-7 {
    width: calc(100% / 12 * 7);
  }

  .col-m-8 {
    width: calc(100% / 12 * 8);
  }

  .col-m-9 {
    width: calc(100% / 12 * 9);
  }

  .col-m-10 {
    width: calc(100% / 12 * 10);
  }

  .col-m-11 {
    width: calc(100% / 12 * 11);
  }

  .col-m-12 {
    width: 100%;
  }

  .hide-m {
    display: none !important
  }
}

.b-clear {
  clear: both;
}

.body {
  margin: 0;
  padding: 0;
  /* background: #fff; */
  line-height: 130%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
  position: relative;
  /* overflow-x: hidden; */
}

.body.fixed {
  overflow: hidden;
}

.body.fixed::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 18;
  background: rgba(18, 18, 18, 0.50);
}

@media (max-width: 1200px) {
  .body {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
}
.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.container-no-padd {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .container {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/*  */
.content-with-rigth {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.content-with-rigth__center {
  width: calc(100% / 12 * 8 - 24px);
}
.content-with-rigth__right {
  width:calc(100% / 12 * 4);
}
@media (max-width: 1200px) {
.content-with-rigth {
  flex-direction: column;
}
  .content-with-rigth__center,
  .content-with-rigth__right {
    width: 100%;
  }
  .content-with-rigth--order .content-with-rigth__right {
    order: -1;
  }
}
/*  */
.content-with-left {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.content-with-left__center {
  width: calc(100% / 12 * 9);
}
.content-with-left__left {
  width: calc(100% / 12 * 3 - 40px);
  position: relative;
  min-width: 350px;
}
.content-with-left__sticky {
  margin-bottom: 60px;
  position: sticky;
  top: 100px;
  left: 0;
}
@media (max-width: 1200px) {
  .content-with-left {
  flex-direction: column;
  gap: 0;
}
  .content-with-left__center,
  .content-with-left__left {
    width: 100%;
  }
  .content-with-left__sticky {
    margin-bottom: 0;
  }
  .content-with-left__left {
    min-width: none;
  }
}
/*  */
.section {
  margin-bottom: 60px;
}
.section-min {
  margin-bottom: 30px;
}
.section__title {
  margin-bottom: 1.8em;
}
.section__title h2 {
  margin-bottom: 0.5em;
}
.section__subtitle {
  font-size: 18px;
}
#sect-1 > p:first-child {
  margin-top: 0;
}
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 30px;
  }
  .section__subtitle {
    font-weight: 300;
    font-size: 16px;
  }
}
.mb {
  height: 0px;
  margin-top: 60px;
  font-size: 0;
}
.mb-min {
  margin-top: 20px;
  height: 0px;
  font-size: 0;
}
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 600px) {
  .mb {
    margin-top: 30px;
  }
}

h1 {
  margin: 0 0 0.6em;
  padding: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #141414;
}

.p-main h1 {
  color: #fff;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  line-height: 120%;
  color: #141414;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }
  
}
section {

}
*:hover {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

*:not(body, html)::-webkit-scrollbar {
  width: 3px;
  background-color: #E9F0FF;
  border-radius: 2px;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #000479;
  border-radius: 2px;
}

ul:not([class]) {
  margin: 0 0 0.5em;
  padding: 0 0 0 2em;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #000479;
  transition: all 0.3s;
}

a:not([class]) {
  color: #000479;
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
  color: #000479;
}

a[href^="tel:"] {
  white-space: nowrap;
}

img {
  max-width: 100%;
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

input,
textarea {
  padding: 16px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #D2DAE1;
  background: transparent;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border: 1px solid #000479;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0, 26, 52, 0.60);
}

textarea {
  height: 164px;
}

label {
  margin-bottom: 8px;
  display: block;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  input, textarea {
    font-size: 14px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
}
.select2-container {
  width: 100% !important
}

.select2-container--default .select2-selection--single {
  padding: 16px 20px;
  display: block;
  width: 100%;
  border: 2px solid #EEE;
  border-radius: 0;
  background: transparent;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #141414;
  line-height: 130%;
  height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #141414;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(50%);
  width: 9px;
  height: 6px;
  background: url(../img/icons/arr-down.svg) 0 50% no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-dropdown {
  border: 1px solid #EEE;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #000479;
  background: none;
}

.select2-container--default .select2-results__option--selected {
  background: #E9F0FF;
}

.select2-container--open .select2-dropdown--below {
  z-index: 100000;
}

@media (max-width: 1200px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .select2-container--default .select2-selection--single {
    padding: 18px 20px;
    height: 64px;
  }
}

.btn {
  padding: 24px 48px;
  display: inline-block;
  border: 1px solid #000479;
  font-size: 16px;
  line-height: 100%;
  position: relative;
  transition: all 0.3s;
  background: #000479;
  text-align: center;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000479;
}

.btn-white {
  border: 1px solid #fff;
  background: transparent;
}
.btn-white:hover {
  background: #000479;
  border: 1px solid #000479;
  color: #fff;
}
@media (max-width: 600px) {

  .btn {
    padding: 20px 30px;
    font-size: 14px;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__header {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 20;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.page__body {
  padding-top: 30px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  flex-grow: 1;
  z-index: 2;
}

.p-main {
  padding-top: 0;
}

.page__footer {
  z-index: 2;
}
@media (max-width: 600px) {
  .page__body {
    padding-top: 20px;
  }
}
/* шапка */
.header {
  border-bottom: 1px solid #D2DAE1;
  background: #fff;
}
.header__top {
  padding: 16px 0;
  background: #F3F3F5;
  font-size: 14px;
  overflow: hidden;
  max-height: 100px;
  transition: all 0.3s;
}
.page__header.fixed .header__top {
  padding: 0 0;
  max-height: 0;
}
.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 64px;
}
.header__adress img {
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.header__link {
  transition: all 0.3s;
  color: #141414;
}
.header__link:hover {
  color: #000479;
}
.header__bottom {
  padding: 13px 0;
  display: flex;
  gap: 45px;
  position: relative;
}

.header__search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;
  z-index: 1;
}
.header__mobile-menu-opener {
  height: 56px;
  width: 140px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #000479;
  color: #fff;
  cursor: pointer;
}
.header__mobile-menu-icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.header__mobile-menu-icon span {
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 2px;
  transition: all 0.3s;
}
.header__mobile-menu-icon span:nth-child(1) {
  top: 5px;
}
.header__mobile-menu-icon span:nth-child(2) {
  top: 11px;
  width: 15px;
}
.header__mobile-menu-icon span:nth-child(3) {
  top: 17px;
}

.header__mobile-menu-icon.open span:nth-child(1) {
  transform: translate(-1px, 6px) rotate(45deg);
}
.header__mobile-menu-icon.open span:nth-child(2) {
  opacity: 0;
}
.header__mobile-menu-icon.open span:nth-child(3) {
  transform: translate(-1px, -6px) rotate(-45deg);
}
.header__mobile-menu {
  display: none;
}
.header__adaptive-menu-opener {
  display: none;
}
.header__phone {
  display: none;
}
@media (max-width: 1600px) {
  .header__top {
    padding: 10px 0;
  }
  .header__contacts {
    justify-content: end;
    flex-wrap: wrap;
    gap: 0 24px;
  }
  .header__bottom {
    padding: 18px 0;
    gap: 40px;
  }
}
@media (max-width: 1200px) {
  .header__mobile-menu {
    position: relative;
    display: block;
  }
  .header__mobile-menu-opener {
    display: flex;
  }
  .header__serv {
    display: none;
  }
  .header__adress {
    display: none;
  }
  .header__link {
    font-size: 12px;
  }
  .header__link--mail {
    display: none;
  }
  .header__search  {
    right: 138px;
  }
}
@media (max-width: 600px) {
  .header__top {
    display: none;
  }
  .header__bottom {
    padding: 18px 0 5px;
    justify-content: space-between;
  }
  .header__mobile-menu-opener {
    display: none;
  }
  .header__adaptive-menu-opener {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    color: #141414;
  }
  .header__adaptive-menu-icon {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .header__adaptive-menu-icon span {
    display: block;
    height: 2px;
    width: 20px;
    border-radius: 2px;
    background: #141414;
    position: absolute;
    left: 2px;
    transition: all 0.3s;
  }
  .header__adaptive-menu-icon span:nth-child(1) {
    top: 5px;
  }
  .header__adaptive-menu-icon span:nth-child(2) {
    top: 11px;
  }
  .header__adaptive-menu-icon span:nth-child(3) {
    top: 17px;
  }
  
  .header__adaptive-menu-icon.open span:nth-child(1) {
    transform: translate(-1px, 6px) rotate(45deg);
  }
  .header__adaptive-menu-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .header__adaptive-menu-icon.open span:nth-child(3) {
    transform: translate(-1px, -6px) rotate(-45deg);
  }
  .header__search {
    position: static;
    transform: translateY(0);
    top: auto;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70px;
  }
  .header__cart {
    display: none;
  }
  .header__phone {
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 52px;
  }
}
/* /шапка */
/* верхнее меню для адаптива */
.adaptive-menu {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: -16px;
  padding: 30px 16px;
  background: #fff;
  width: 100vw;
  height: calc(100vh - 155px);
  overflow: auto;
}
.adaptive-menu__ul {
  padding: 0;
  margin: 0 0 32px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.adaptive-menu__li a {
  color: #141414;
  font-weight: 500;
  line-height: 130%;
  font-size: 20px;
}
.adaptive-menu__btn {
  margin-bottom: 32px;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #000479;
}
.adaptive-menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.adaptive-menu__title {
  margin-bottom: 8px;
  color: rgba(0, 26, 52, 0.60);
}
.adaptive-menu__val {
  font-size: 14px;
  font-weight: 700;
  color: #141414;
}
.adaptive-menu__val a {
  color: #141414;
}
.adaptive-menu__phone {
  display: block;
}
@media (max-width: 600px) {
  .adaptive-menu {
    height: calc(100vh - 140px);
  }
}
/* /верхнее меню для адаптива */
/* поиск в шапке */
.header-search {
  position: relative;
}
.header-search__opener {
  cursor: pointer;
}
.header-search__cross {
  display: none;
}
.header-search__form {
  margin-top: -2px;
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  width: 0;
  overflow: hidden;
  max-width: 1260px;
  background: #fff;
  transition: all 0.3s;
}
.header-search__form::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icons/search-md.svg) 50% 50% no-repeat;
  position: absolute;
  top: 17px;
  left: 15px;
}
.header-search__form.open {
  width: calc(100vw - 660px);
}
.header-search__input {
  padding: 16px 45px;
  height: 56px;
}
.header-search__results {
  padding: 32px 32px 0;
  position: absolute;
  top: calc(100% + 20px);
  right: 26px;
  width: calc(100vw - 660px);
  max-width: 1260px;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
  display: none;
}
.header-search__results-title {
  font-size: 14px;
  color:rgba(0, 26, 52, 0.60);
}
.header-search__cross-results {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-search__cross-results img {
  display: block;
}
.header-search__result {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #D2DAE1;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  color: #141414;
  transition: color 0.3s;
}
.header-search__result::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow-narrow-up-right.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.header-search__result:hover {
  color: #000479;
}
.header-search__result:hover::after {
  transform: translateY(-50%) rotate(45deg);
}
.header-search__result img {
  width: 104px;
}
.header-search__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%
}
.header-search__txt {
  font-size: 12px;
  color: rgba(0, 26, 52, 0.60);
}
.header-search__info {
  display: none;
}
@media (max-width: 1200px) {
  .header-search.open {
    padding: 30px 30px;
    position: fixed;
    top: -90px;
    /* left: 0; */
    right: -168px;
    /* bottom: 0; */
    background: #fff;
    width: 100vw;
    height: 100vw;
    overflow: auto;
    z-index: 24;
  }
  .header-search.open .header-search__info {
    display: block;
  }
  .header-search__form {
    transition: none;
  }
  .header-search__form::after {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    background: #D2DAE1;
    position: absolute;
    top: 100%;
    left: -30px;
  }
  .header-search.open .header-search__form {
    padding-bottom: 33px;
    margin-bottom: 37px;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    width: calc(100% - 40px);
    max-width: 100%;
    transform: translateY(0);
    overflow: visible;
  }
  .header-search__cross {
    position: absolute;
    right: 20px;
    top: 47px;
  }
  .header-search__results {
    margin: 0 -30px;
    padding: 0 30px;
    box-shadow: none;
    width: calc(100% + 60px);
    position: static;
    height: calc(100vh - 142px);
    overflow: auto;
  }
  .header-search__cross-results {
    top: 28px;
  }
  .header-search__results-title {
    font-size: 12px;
  }
  .header-search__result {
    padding: 25px 0;
  }
}
/* /поиск в шапке */
/* верхнее меню */
.top-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 14px;
}
.top-menu__link {
  white-space: nowrap;
  transition: all 0.3s;
  color: rgba(0, 26, 52, 0.60);
}
.top-menu__link:hover {
  color: #000479;
}
@media (max-width: 1200px) {
  .top-menu {
    gap: 24px;
    font-size: 12px;
  }
}
/* /верхнее меню */
/* меню услуг  */
.servise-menu {
  position: relative;
}
.servise-menu__opener {
  height: 56px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #000479;
  color: #fff;
  cursor: pointer;
}
.servise-menu__icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.servise-menu__icon span {
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 2px;
  transition: all 0.3s;
}
.servise-menu__icon span:nth-child(1) {
  top: 5px;
}
.servise-menu__icon span:nth-child(2) {
  top: 11px;
  width: 15px;
}
.servise-menu__icon span:nth-child(3) {
  top: 17px;
}

.servise-menu__icon.open span:nth-child(1) {
  transform: translate(-1px, 6px) rotate(45deg);
}
.servise-menu__icon.open span:nth-child(2) {
  opacity: 0;
}
.servise-menu__icon.open span:nth-child(3) {
  transform: translate(-1px, -6px) rotate(-45deg);
}

.servise-menu__ul {
  margin: 0;
  padding: 0 32px;
  list-style: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 545px;
  max-width: 80vw;
  max-height: 545px;
  overflow: auto;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
  background: #fff;
  z-index: 1;
  display: none;
}
.servise-menu__link {
  padding: 32px 0;
  display: block;
  position: relative;
  border-bottom: 1px solid #D2DAE1;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  transition: all 0.3s;
  color: #141414;
}
.servise-menu__link::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow-narrow-up-right.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.servise-menu__link:hover {
  color: #000479;
}
.servise-menu__link:hover::after {
  transform: translateY(-50%) rotate(45deg);
}
.servise-menu__item:last-child .servise-menu__link {
  border-bottom: none;
}
/* /меню услуг  */
/* меню каталога */
.catalog-menu {
  position: relative;
  width: calc(100% - 490px);
  overflow: hidden;
}
.catalog-menu__ul {
  padding: 0;
  margin: 10px -40px 0 0;
  list-style-type: none;
  display: block
}
.catalog-menu__item {
  padding-right: 36px;
  display: inline-block;
}
.catalog-menu__link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #141414;
}
.catalog-menu__link span {
  white-space: nowrap;
}
.catalog-menu__link:hover {
  color: #000479;
}

.catalog-menu>ul>li.overflow-nav {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8px;
  right: 0;
}
.catalog-menu .overflow-nav-list {
  padding: 30px 10px 0 10px;
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  list-style: none;
  background: #fff;
  z-index: 1;
}
.catalog-menu .overflow-nav-title {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 46px;
  background: url('../img/icons/menu-dots.svg') 50% 50% no-repeat;
}

.catalog-menu.resizing {
  overflow: hidden;
}

.catalog-menu .overflow-nav-list {
  padding: 10px 30px;
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  list-style: none;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
  z-index: 1;
}

.catalog-menu .overflow-nav-list.show {
  opacity: 1;
  visibility: visible;
}

.catalog-menu .overflow-nav-list>li {
  margin-bottom: 6px;
  padding-right: 0;
  display: block;
}

.catalog-menu .overflow-nav-list>li>a,
.catalog-menu .overflow-nav-list .primary>a {
  padding: 8px 12px 8px 12px;
  display: flex;
}

.catalog-menu .overflow-nav-list .primary-last {
  margin-right: 0;
}

@media (max-width: 1600px) {
  .catalog-menu__ul {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .catalog-menu {
    display: none;
  }
}
/* /меню каталога */
/* адаптивное меню */
.mobile-menu {
  padding: 30px 30px;
  position: absolute;
  top: calc(100% + 1px);
  left: -30px;
  width: 400px;
  max-width: 100vw;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
  background: #fff;
  overflow: auto;
  max-height: calc(100vh - 100px);
  z-index: 10;
  display: none;
}
.mobile-menu__title {
  font-weight: 500;
  line-height: 120%;
  font-size: 24px;
}
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-menu__item {
  padding: 16px 0;
  border-bottom: 1px solid #D2DAE1;
}
.mobile-menu__category {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #141414;
}
.mobile-menu__category img {
  width: 40px;
}
.mobile-menu__service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 14px;
  font-weight: 300;
  color: #141414;
}
.mobile-menu__price {
  white-space: nowrap;
  color: rgba(0, 26, 52, 0.60);
}
@media (max-width: 600px) {
  .mobile-menu {
    padding: 30px 16px;
    top: calc(100% + 1px);
    left: -16px;
    width: 100vw;
    max-height: calc(100vh - 155px);
  }
}
/* /адаптивное меню */
/* корзина в шапке */
.header-cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 55px;
}
.header-cart__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-cart__icon span {
  font-size: 14px;
  color: #141414;
}
@media (max-width: 1200px) {
  .header-cart {
    right: 48px;
  }
  .header-cart__icon span {
    font-size: 12px;
  }
}
/* корзина в шапке */
/* подвал */
.footer {
  background: #F3F3F5 url(../img/footer.png) 50% 100% no-repeat;
}
.footer__content {
  padding: 48px 0;
  font-size: 14px;
  line-height: 150%;
  border-bottom: 1px solid #D2DAE1;
}
.footer__bottom {
  padding: 24px 0;
  color: rgba(0, 26, 52, 0.60);
}
.footer__bottom a {
  transition: color 0.3s;
  color: rgba(0, 26, 52, 0.60);
}
.footer__bottom a:hover {
  color: #000479;
}
.footer__bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;;
}
.footer__bottom-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: calc(100% - 230px);
}
.footer__content .container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.footer__logo {
  margin-bottom: 16px;
}
.footer__logo img {
  width: 88px;
}
.footer__menus {
  display: flex;
  gap: 24px;
}
.footer__txt {
  max-width: 520px;
}
.footer__contacts {
  max-width: 360px;
}
.footer__title {
  margin-bottom: 16px;
  font-weight: 300;
  color:  #141414;
}
.footer__txt {
  color: rgba(0, 26, 52, 0.60);
}
.footer__name {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}
.footer__block {
  margin-bottom: 24px;
}
.footer__block:last-child {
  margin-bottom: 0;
}
.footer__val a {
  display: block;
  color:  #141414;
}
.footer__val a:hover {
  text-decoration: none;
  color: #000479;
}
.footer__dev-logo {
  display: block;
}
.footer__dev-logo img {
  display: block;
}
@media (max-width: 1200px) {
  .footer {
    background: #F3F3F5 url(../img/footer.png) 57% 100% no-repeat;
    background-size: 29%;
  }
  .footer__content {
    padding: 32px 0 20px;
    font-size: 12px;
  }
  .footer__content .container {
    flex-wrap: wrap;
    gap: 14px;
  }
  .footer__left {
    display: flex;
    align-items: center;
    gap: 43px;
    width: 100%;
  }
  .footer__contacts {
    margin-top: 7px;
    display: flex;
    width: 100%;
    max-width: none;
    gap: 36px;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__menus {
    width: 100%;
  }
  .footer__name {
    font-size: 14px;
  }
  .footer__block {
    width: 25%;
  } 
  .footer__block--adress {
    width: calc(50% + 31px);
  }
  .footer__bottom {
    padding: 12px 0;
    font-size: 12px;
  }
  .footer__bottom-left {
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }
}
/* /подвал */
/* Хлебные крошки */
.breadcrumbs {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
  display: flex;
  white-space: nowrap;
  overflow: auto;
  font-size: 14px;
  color: #141414;
}
.breadcrumbs::-webkit-scrollbar {
  display: none;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item::after {
  content: '';
  margin: 0 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/icons/chevron-right.svg) 50% 50% no-repeat;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  color: rgba(0, 26, 52, 0.60);
}
@media (max-width: 600px) {
  .breadcrumbs {
    margin: 0 0 20px;
  }
}
/* /Хлебные крошки */
/* меню в подвале */
.footer-menu {
  min-width: 264px;
}
.footer-menu__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-menu__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  color:  #141414;
}
.footer-menu__item {
  margin-bottom: 16px;
}
.footer-menu__link {
  font-size: 16px;
  font-weight: 300;
  color:  #141414;
}
.footer-menu__link:hover {
  color: #000479;
}
@media (max-width: 1200px) {
  .footer-menu {
    min-width: calc(50% - 12px);
  }
  .footer-menu__title {
    margin-bottom: 14px;
    font-size: 14px;
  }
  .footer-menu__item {
    margin-bottom: 14px;
  }
  .footer-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer__content {
    padding: 24px 0 20px;
  }
  .footer__left {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .footer__logo img {
    width: 52px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__menus {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .footer__contacts {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer__block {
    width: 50%;
  }
  .footer__block--adress {
    width: 100%;
  }
  .footer__bottom {
    padding-bottom: 70px;
  }
  .footer__bottom .container {
    flex-direction: column;
    align-items: start;
  }
  .footer__dev-logo {
    order: -2;
  }
  .footer__bottom-left {
    width: 100%;
  }
}
/* /меню в подвале */

@media (max-width: 600px) {
  .footer-menu {
    width: 100%;
  }
  .footer-menu__title {
    margin-bottom: 0;
    position: relative;
    font-size: 14px;
    color: #000479;
  }
  .footer-menu__title::after {
    content: '';
    width: 12px;
    height: 12px;
    background: url(../img/icons/chevron-down.svg) 50% 50% no-repeat;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.3s;
  }
  .footer-menu__title.open::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .footer-menu__ul {
    padding-top: 14px;
    display: none;
  }
  .footer-menu__item {
    margin-bottom: 10px;
  }
}

/* Нижнее меню для мобильного */
.fixed-menu {
  padding: 8px 32px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid  #D2DAE1;
  background: #FFF;
  z-index: 20;
}
.fixed-menu__item {
  text-align: center;
  position: relative;
  font-size: 11px;
  color:  rgba(0, 26, 52, 0.60);
}
.fixed-menu__img svg {
  margin: 0 auto;
  display: block;
}
.fixed-menu__item.active {
  color: #000479;
}
.fixed-menu__item.active svg path {
  stroke: #000479;
  stroke-opacity: 1;
}
.fixed-menu__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  .fixed-menu {
    display: flex;
  }
}
/* /Нижнее меню для мобильного */
/* popups */
.popup {
  padding: 48px;
  background: #fff;
  display: none;
}
.popup__title {
  margin-bottom: 8px;
  line-height: 120%;
  font-size: 32px;
  font-weight: 500;
}
.popup__subtitle {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 26, 52, 0.60);
}
.popup__input {
  margin-bottom: 12px;
}
.popup__btn {
  margin: 12px 0 24px;
}
.popup__inf {
  font-size: 14px;
  color: rgba(0, 26, 52, 0.60);
}
.popup--callback {
  max-width: 580px;
}
@media (max-width: 1200px) {
  .popup {
    padding: 32px;
  }
  .popup__title {
    font-size: 26px;
  }
  .popup__subtitle {
    font-size: 14px;
  }
  .popup__inf {
    font-size: 12px;
  }
  .popup__btn {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .popup {
    padding: 20px;
  }
  .popup__title {
    font-size: 22px;
  }
  .popup__btn {
    margin: 12px auto 24px;
    padding: 16px 32px;
    width: 100%;
    display: block;
  }
}
/* /popups */
/* баннер на главной */
.top-banner {
  padding-top: 67px;
  padding-right: 145px;
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
}
.top-banner__info {
  position: absolute;
  left: 0;
  top: 110px;
}
.top-banner__title {
  margin-bottom: 16px;
  line-height: 110%;
  font-size: 64px;
  font-weight: 500;
}
.top-banner__text {
    display: block;
    color: #000479;
    white-space:nowrap;
    overflow:hidden;
    width: max-content;
}
.top-banner__subtitle {
  font-size: 18px;
}
.top-banner__btns {
  margin-top: 48px;
  display: flex;
}
.top-banner__garanty {
  padding: 16px 32px;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #F3F3F5;
  color: #828282;
  font-size: 14px;
}
.top-banner__callback {
  position: absolute;
  bottom: 150px;
  right: 180px;
}
@media (max-width: 1700px) { 
  .top-banner {
    padding-right: 45px;
  }
}
@media (max-width: 1200px) {  
  .top-banner {
    padding: 295px 30px 0;
  }
  .top-banner__title {
    font-size: 56px;
  }
  .top-banner__callback {
    bottom: 102px;
    right: 34px;
  }
  .top-banner__btn {
    font-size: 14px;
  }
  .top-banner__garanty {
    font-size: 14px;
  }
}
@media (max-width: 600px) {  
  .top-banner {
    margin-bottom: 32px;
    padding: 255px 0 0;
  }
  .top-banner__info {
    top: 13px;
    width: 100%;
  }
  .top-banner__title {
    font-size: 32px;
  }
  .top-banner__subtitle {
    font-size: 16px;
  }
 
  .top-banner__garanty {
    display: none;
  }
  .top-banner__btns {
    margin-top: 30px;
  }
  .top-banner__btn {
    width: 100%;
  }
  .top-banner__callback {
    bottom: 10px;
    right: auto;
    left: 0;
  }
  .top-banner__callback {
    width: 106px;
  }
  .top-banner__img {
    margin: 0 -16px;
  }
}
/* /баннер на главной */
/* Категории */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr)
}
.categories__item {
  margin-top: -1px;
  margin-left: -1px;
  padding: 24px 32px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border: 1px solid  #D2DAE1;
  overflow: hidden;
  position: relative;
  height: 260px;
  z-index: 1;
  cursor: pointer;
}
.categories__item:nth-child(5) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  height: 520px;
}
.categories__item::after {
  content: 'строймонолит';
  position: absolute;
  top: 24px;
  left: 100%;
  line-height: 1;
  font-weight: 500;
  font-size: 70px;
  color: #F3F3F5;
  transition: all 5s;
  z-index: -1;
}
.categories__item:hover::after {
  left: -100%;
}
.categories__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 90%;
  z-index: -1;
}
.categories__title {
  margin-bottom: 8px;
  line-height: 130%; 
  font-weight: 500;
  font-size: 20px;
}
.categories__price {
  overflow: hidden;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 26, 52, 0.60);
  transition: all 0.3s;
  overflow: hidden;
}
.categories__btn {
  padding: 0px 24px;
  display: block;
  width: max-content;
  background: #000479;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
}
.categories__item:hover .categories__btn {
  padding: 10px 24px;
  border: 1px solid #000479;
  height: 46px;
}
.categories__item:hover .categories__price {
  height: 0;
}
.categories__stick {
  padding: 6px 18px;
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #000479;
  background: #000479;
  font-size: 14px;
  color: #fff;
}
@media (max-width: 1200px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .categories__item {
    height: 260px;
  }
  .categories__item:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 260px;
  }
  .categories__img {
    max-width: 60%;
  }
}
@media (max-width: 600px) {  
  .categories {
    display: flex;
    flex-wrap: wrap;
  }
  .categories__item,
  .categories__item:nth-child(n) {
    padding: 20px;
    width: 100%;
    height: 180px;
  }
  .categories__stick {
    padding: 4px 18px;
    top: 20px;
    font-size: 12px;
  }
  .categories__info {
    max-width: 60%;
  }
  .categories__title {
    font-size: 18px;
  }
  .categories__price {
    font-size: 16px;
  }
}
/* Категории */
/* Услуги */
.servises {
  position: relative;
}
.servises__swiper {
  overflow: hidden;
}
.servises__item {
  padding: 24px 32px;
  box-sizing: border-box;
  height: 430px;
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-right: 1px solid #fff;
  color: #fff;
  z-index: 1;
}
.servises__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.servises__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servises__img:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 4, 121, 0.16) 0%, rgba(0, 4, 121, 0.16) 100%), linear-gradient(0deg, rgba(20, 20, 20, 0.64) 0%, rgba(20, 20, 20, 0.64) 100%);
  opacity: 0.8;
}
.servises__title {
  margin-bottom: 8px;
  line-height: 130%;
  font-size: 20px;
  font-weight: 500;
}
.servises__price {
  font-weight: 300;
  font-size: 18px;
}
.servises__btns {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.servises__more {
  padding: 16px 32px;
  border: 1px solid #FFF;
  color: #fff;
  transition: all 0.3s;
}
.servises__more:hover {
  background: #fff;
  color: #000479;
}
.servises__order {
  padding: 16px 32px;
  border: 1px solid #FFF;
  background: #fff;
  color: #000479;
  transition: all 0.3s;
}
.servises__order:hover {
  background: #000479;
  color: #fff;
}
@media (max-width: 1200px) {
  .servises__swiper {
    overflow: hidden;
    margin: 0 -30px;
    padding: 0 30px;
  }
  .servises__item {
    width: 354px;
  }
  .servises__more,
  .servises__order {
    width: 100%;
    text-align: center;
  }
}
/* Услуги */
/* элемент каталога */
.catalog-item {
  padding: 30px 30px 86px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #D2DAE1;
  position: relative;
}
.catalog-item:hover {
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 20, 0.10);
}
.catalog-item__img {
  margin-bottom: 24px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog-item__img img {
  max-width: 100%;
  max-height: 100%;
}
.catalog-item__title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
}
.catalog-item__characters {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.catalog-item__character {
  display: flex;
  align-items: center;
  gap: 10px;
}
.catalog-item__colors {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.catalog-item__color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 1;
}
.catalog-item__color::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  border-bottom: 1px dotted #D2DAE1;
  z-index: -1;
}
.catalog-item__name {
  padding-right: 10px;
  background: #fff;
  font-size: 14px;
  color: rgba(0, 26, 52, 0.60);
}
.catalog-item__val {
  padding-left: 10px;
  background: #fff;
  font-size: 14px;
  color: #141414;
}
.catalog-item__btn {
  padding: 16px 32px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
}
@media (max-width: 600px) {
  .catalog-item {
    padding: 20px 20px 76px;
  }
  .catalog-item__btn {
    width: calc(100% - 40px);
    bottom: 20px;
  }
  .catalog-item__img {
    height: 150px;
  }
  .catalog-item__title {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .catalog-item__characters {
    margin-bottom: 16px;
  }
  .catalog-item__name {
    font-size: 12px;
  }
  .catalog-item__btn {
    font-size: 14px;
  }
}
/* /элемент каталога */
/* Слайдер каталога */
.catalog-slider {
  position: relative;
}
.catalog-slider__swiper {
  padding-bottom: 16px;
  margin-bottom: -16px;
  padding-left: 1px;
  overflow: hidden;
  border-left: 1px solid #D2DAE1;
}
.catalog-slider__wrapper {
  align-items: stretch;
}
.catalog-slider__item  {
  width: 20%;
  height: auto;
}
.catalog-slider__item .catalog-item {
  border-left: none;
}
.catalog-slider__prev, 
.catalog-slider__next {
  top: calc(50% + 16px);
}
@media (max-width: 1400px) {
  .catalog-slider__item  {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .catalog-slider__swiper {
    padding: 0 30px 16px;
    margin: 0 -30px -16px;
  }
 
  .catalog-slider__item  {
    width: 354px;
  }
}
@media (max-width: 600px) {
  .catalog-slider__item  {
    width: 280px;
  }

  .catalog-slider__item .catalog-item {
    border-left: 1px solid #D2DAE1;
    border-right: none;
  }
}
/* /Слайдер каталога */
/* Фото работ */
.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.photos__item {
  display: block;
  position: relative;
  width: calc(25% - 15px);
  max-height: 270px;
  height: 14vw;
}
.photos__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photos--min .photos__item {
  width: calc(33.33% - 15px);
}
@media (max-width: 1200px) {
  .photos__item {
    width: calc(33.33% - 15px);
    max-height: 270px;
    height: 14vw;
  }
  .photos--min .photos__item:nth-child(n + 7),
  .photos__item:nth-child(n + 7) {
    display: none;
    height: 19vw;
  }
}
@media (max-width: 600px) {
  .photos {
    gap: 12px;
  }
  .photos--min .photos__item,
  .photos__item {
    max-height: none;
    height: 29vw;
    width: calc(50% - 6px);
  }
}
/* /Фото работ */
/* Текстовый блок */
.text-block {
  max-width: 1130px;
}
.text-block__txt {
  margin-bottom: 18px;
  max-height: 470px;
  overflow: hidden;
  transition: all 0.3s;
  font-weight: 300;
}
.text-block__txt p {
  margin-top: 0;
}
.text-block.open .text-block__txt {
  max-height: 2000px;
}
.text-block__show,
.text-block__hide {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #000479;
  cursor: pointer;
}
.text-block__hide {
  display: none;
}
.text-block.open .text-block__hide {
  display: flex;
}
.text-block.open .text-block__show {
  display: none;
}
.text-block__show::before,
.text-block__hide::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: url(../img/icons/chevron-down.svg) 50% 50% no-repeat;
  background-size: contain;
}
.text-block__hide::before {
  transform: rotate(180deg);
}
@media (max-width: 600px) {
  .text-block__txt {
    margin-bottom: 8px;
  }
}
/* /Текстовый блок */
/* Заказать консультацию */
.consult {
  padding: 40px 64px 40px 28%;
  display: flex;
  align-items: center;
  gap: 80px;
  overflow: hidden;
  position: relative;
  background:  #F3F3F5;
  z-index: 1;
}
.consult__img {
  position: absolute;
  left: 0;
  top: -37%;
  /* transform: translateY(-50%); */
  z-index: -1;
  max-width: 26%;
}
.consult__title {
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
}
.consult__txt {
  font-weight: 300;
}
.consult__btn {
  white-space: nowrap;
}
@media (max-width: 1400px) {

  .consult__img {
    top: 0;
  }
}
@media (max-width: 1200px) {
  .consult {
    padding: 40px 40px 40px 270px;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .consult__img {
    width: 260px;
    top: 50%;
    transform: translateY(-50%);
    max-width: none;
  }
  .consult__title {
    font-size: 26px;
  }
  .consult__txt {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .consult {
    padding: 20px;
  }
  .consult__img {
    display: none;
  }
  .consult__text {
    width: 100%;
  }
  .consult__title {
    font-size: 22px;
  }
  .consult__btn {
    width: 100%;
    text-align: center;
  }
}
/* / Заказать консультацию */

/* Заказать консультацию мини */
.consult-min {
  padding: 24px 40px;
  background: #F3F3F5;
  height: 260px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.consult-min__img {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 66%;
  z-index: -1;
}
.content-with-left__left .consult-min {
  height: 356px;
}
.content-with-left__left .consult-min__btn {
  width: 100%;
}
.content-with-left__left .consult-min__img {
  top: 200px;
  left: 0;
  width: 100%;
}
.content-with-left__left .consult-min::after {
  display: none;
}
.consult-min__title {
  margin-bottom: 12px;
  line-height: 130%; 
  font-size: 24px;
  font-weight: 500;
  color: #141414;
}
.consult-min__txt {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 26, 52, 0.60);
}
.consult-min::after {
  content: 'строймонолит';
  position: absolute;
  bottom: -24px;
  left: -13px;
  line-height: 1;
  font-weight: 500;
  font-size: 72px;
  color: #fff;
  /* transition: all 5s; */
  z-index: -2;
}
@media (max-width: 1200px) {
  .consult-min {
    display: none;
  }
}
/* Заказать консультацию мини */
/* Партнеры */
.partners {
  margin: 0 -16px;
  width: calc(100% + 32px);
  position: relative;
}
.partners__swiper {
  overflow: hidden;
}
.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 6);
}
@media (max-width: 1600px) {
  .partners__item {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .partners__swiper {
    margin: 0 -30px;
    padding: 0 30px;
    overflow: hidden;
  }
  .partners__item {
    width: 140px;
  }
}
@media (max-width: 600px) {
  .partners__swiper {
    margin: 0;
    padding: 0;
  }
}
/* /Партнеры */
/* карта */
.map {
  position: relative;
}
.map__map {
  width: 100%;
  height: 470px;
}
.map__map [class*="ymaps-2-1-79"][class*="-ground-pane"] {
  filter: grayscale(1)
}
.map__contacts {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 520px;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  background: #fff;
  z-index: 1;
}
.map__name {
  margin-bottom: 8px;
  color: rgba(0, 26, 52, 0.60);
}
.map__val {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 130%;
  font-weight: 500;
  font-size: 20px;
}
.map__val a {
  color: #141414;
}
.map__item--wa {
  /* display: none; */
}
@media (max-width: 1200px) {
  .map__contacts {
    margin-bottom: 24px;
    padding: 32px;
    width: 100%;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    background: #F3F3F5;
    gap: 24px;
  }
  .map__item {
    width: calc(50% - 12px);
  }
  .map__item:first-child {
    width: 100%;
  }
  .map__item--wa {
    display: block;
  }
  .map__name {
    font-size: 12px;
  }
  .map__val {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .map__contacts {
    padding: 20px;
    gap: 16px;
  }
  .map__item {
    width: 100%;
  }
  .map__map {
    height: 430px;
  }
}
/* карта */
/* Верхний информационный блок */
.top-block {
  display: flex;
  overflow: hidden;
  background: #F3F3F5;
}
.top-block__img {
  width: 410px;
  position: relative;
}
.top-block__img img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.top-block__content {
  padding: 32px 40px;
  box-sizing: border-box;
  width: calc(100% - 410px);
}
.top-block__show,
.top-block__hide {
  margin-top: 16px;
  display: none;
  font-size: 12px;
  color: #000479;
}
@media (max-width: 1200px) {
  .top-block__img {
    display: none;
  }
  .top-block__content {
    padding: 24px;
    width: 100%;
  }
  .top-block__show {
    display: block;
  }
  .top-block__txt {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:  max-height 0.3s;
  }
  .top-block__txt.open {
    max-height: 100px;
  }
}
@media (max-width: 600px) {
  .top-block__content {
    padding: 20px;
  }
}
/* /Верхний информационный блок */
.top-filter {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.top-filter__item {
  padding: 8px 16px;
  background: #F3F3F5;
  font-size: 14px;
  color:  #141414;
  white-space: nowrap;
  transition: all 0.3;
}
.top-filter__item.active,
.top-filter__item:hover {
  background: #000479;
  color: #FFF;
}
@media (max-width: 1200px) { 
  .top-filter__item {
    padding: 8px 12px;
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .top-filter {
    gap: 10px;
  }
  .top-filter__item {
    padding: 6px 8px;
  }
}
/*  */
.catalog-count {
  font-size: 14px;
  color:  rgba(0, 26, 52, 0.60);
}
/* список каталога */
.catalog-list {
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-list__item {
  margin-top: -1px;
  margin-left: -1px;
  width: calc(33.33%);
}
@media (max-width: 980px) { 
  .catalog-list__item {
    width: 50%;
  }
}
@media (max-width: 600px) { 
  .catalog-list__item {
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
  }
}
/* / список каталога */
/* пагинация */
.pagination {
  margin: -10px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #141414;
}
.pagination a.active {
  background: #F3F3F5;
  color: #000479;
}
.pagination .prev,
.pagination .next {
  background: url(../img/icons/chevron-left.svg) 50% 50% no-repeat;
  opacity: 0.6;
}
.pagination .next {
  transform: rotate(180deg);
}
.pagination .prev:hover,
.pagination .next:hover {
  opacity: 1;
}
/* /пагинация */
/* детальная страница  */
.product-page {
  display: grid;
  grid-template-columns: calc(100% / 12 *7) calc(100% / 12 *5);
  grid-template-rows: max-content 1fr;
  grid-gap: 0 10px;
}
.product-page__left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.product-page__title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.product-page__right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product-page__characters {
  display: flex;
  gap: 24px;
}
.product-page__character {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-page__price {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 26, 52, 0.60);
}
.product-page__price span {
  font-weight: 500;
  line-height: 120%;
  font-size: 48px;
  color: #141414;
}
.product-page__name {
  margin-bottom: 16px;
  font-weight: 300;
}
.product-page__name span {
  color: rgba(0, 26, 52, 0.60);
}
.product-page__imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.product-page__img {
  width: 50px;
  height: 50px;
  border: 1px solid #D2DAE1;
  cursor: pointer;
}
.product-page__img.active {
  border: 1px solid #141414;
}
.product-page__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-page__tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 1;
  font-weight: 300;
}
.product-page__tr::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  border-bottom: 1px dotted #D2DAE1;
  z-index: -1;
}
.product-page__th {
  padding-right: 10px;
  background: #fff;
  color: rgba(0, 26, 52, 0.60);
}
.product-page__td {
  padding-left: 10px;
  background: #fff;
  color: #141414;
}
.product-page__summ {
  font-weight: 500;
  font-size: 20px;
}
.product-page__calculator {
  display: flex;
  gap: 24px;
  align-items: center;
}
.product-page__btn {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.product-page__btn:hover svg path {
  stroke: #000479;
}
@media (max-width: 1200px) {
  .product-page {
    display: flex;
    flex-direction: column;
  }
  .product-page__btn {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .product-page__left {
    margin-bottom: 10px;
  }
}
/* /детальная страница  */
/* слайдер продукта */
.product-slider {
  display: none;
}
.product-slider.active {
  display: flex;
}
.product-slider__swiper {
  overflow: hidden;
  width: calc(100% - 110px);
  order: 2;
}
.product-slider__thumbs {
  padding: 30px 0;
  position: relative;
  height: max-content;
}
.product-slider__thumbs-slider {
  overflow: hidden;
  max-height: 270px;
  position: relative;
}
.product-slider__thumb {
  width: 104px;
  height: 80px;
  cursor: pointer;
}
.product-slider__thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-slider__prev {
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  cursor: pointer;
}
.product-slider__next {
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-slider {
    max-width: 800px;
  }
  .product-slider__thumbs-slider {
    max-height: 400px;
  }
  .product-slider__thumb {
    width: 90px;
    height: 70px;
  }
}
@media (max-width: 600px) {
  .product-slider {
    flex-direction: column;
  }
  .product-slider__swiper {
    width: 100%;
    order: 0;
  }
  .product-slider__thumbs {
    padding: 0 30px;
    margin: 0 auto;
  }
  .product-slider__thumbs-slider {
    width: max-content;
    max-width: 270px;
  }
  .product-slider__thumb {
    width: 80px;
    height: 62px;
  }
  .product-slider__prev {
    transform: rotate(0);
    width: 30px;
    height: 30px;
    left: 0;
    top: calc(50% - 15px);
  }
  .product-slider__next {
    transform: rotate(0);
    bottom: auto;
    left: auto;
    right: 0;
    top: calc(50% - 15px);
  }
}
/* /слайдер продукта */
/* счетчик */
.counter  {
  display: flex;
  border: 1px solid #D2DAE1;
  max-width: 265px;
}
.counter input {
  border: none;
  width: calc(100% - 128px);
  text-align: center;
}
.counter__btn {
  width: 64px;
  background: transparent;
  font-size: 24px;
  color: rgba(0, 26, 52, 0.60);
  cursor: pointer;
}
.counter__btn:hover {
  color: #000479;
}
@media (max-width: 600px) {
  .counter  {
    max-width: 190px;
  }
  .counter input {
    width: calc(100% - 100px);
  }
  .counter__btn {
    width: 50px;
  }
}
/* счетчик */

/* табы на детальной */
.tabs {}
.tabs__list {
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.tabs__link {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  color: #141414;
}
.tabs__link.active {
  color: #000479;
}
.tabs__content {
  display: none;
}
@media (max-width: 1200px) {
  .tabs__link {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .tabs__list {
    margin: 0 0 18px;
    gap: 32px;
  }
  .tabs__link {
    font-size: 22px;
  }
}
/* /табы на детальной */
/* Характеристики */
.characteristics {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.characteristics__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.characteristics__line::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  border-bottom: 1px dotted #D2DAE1;
  z-index: -1;
}
.characteristics__name {
  padding-right: 10px;
  background: #fff;
  color: rgba(0, 26, 52, 0.60);
}
.characteristics__val {
  padding-left: 10px;
  background: #fff;
  color: #141414;
}
/* /Характеристики */
/* Корзина */
.cart {}
.cart__item {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E4E4E4;
}
.cart__item:last-child {
  padding-bottom: 0;
  margin-bottom: 40px;
  border-bottom: none;
}
/*  */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}
.cart-item__product {
  display: flex;
  align-items: center;
  gap: 24px;
  width: calc(100% - 455px)
}
.cart-item__img {
  width: 150px;
  min-width: 150px;
  height: 110px;
}
.cart-item__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item__title {
  font-size: 18px;
  font-weight: 300;
  color: #141414;
}
.cart-item__modification {
  margin-top: 5px;
  font-weight: 300;
  color: rgba(0, 26, 52, 0.60);
}
.cart-item__calculator {
  display: flex;
  gap: 15px;
}
.cart-item__counter {
  text-align: center;
  position: relative;
}
.cart-item__price {
  margin-top: 6px;
  font-size: 14px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.cart-item__summ {
  line-height: 56px;
  font-weight: 500;
  font-size: 20px;
}
.cart-item .counter {
  max-width: 200px;
}
@media (max-width: 1200px) {
  .cart {
    margin-bottom: 32px;
  }
  .cart-item {
    flex-wrap: wrap;
    gap: 24px;
  }
  .cart-item__title {
    font-size: 16px; 
  }
  .cart-item__img {
    width: 100px;
    min-width: 100px;
    height: 80px;
  }
  .cart-item__product {
    width: 100%;
  }
  .cart-item__counter {
    display: flex;
    align-items: center;
  }
  .cart-item__price {
    position: static;
    font-size: 12px;
    order: -1;
  }
  .cart-item__price::after {
    content: '';
    margin: 0 16px;
    width: 16px;
    height: 16px;
    background: url(../img/icons/x.svg);
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .cart__item {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .cart-item {
    align-items: start;
  }
  .cart-item__img {
    width: 75px;
    min-width: 75px;
    height: 55px;
  }
  .cart-item__product {
    width: calc(100% - 48px);
    order: -2;
  }
  .cart-item__delete {
    order: -1;
  }
  .cart-item__counter {
    display: block;
  }
  .cart-item__price::after {
    display: none;
  }
}
/* Корзина */
/* информация о заказе */
.order-info {
  padding: 40px;
  background: #F3F3F5;
}
.order-info__products {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 20px;
  color: rgba(0, 26, 52, 0.60);
}
.order-info__products span:last-child {
  color: #141414;
}
.order-info__summ {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 32px;
}
.order-info__btn {
  margin-bottom: 32px;
  display: block;
  width: 100%;
}
.order-info__txt {
  color: rgba(0, 26, 52, 0.60);
}
@media (max-width: 1200px) {
  .order-info {
    padding: 32px;
  }
  .order-info__summ {
    font-size: 28px;
  }
  .order-info--order .order-info__summ {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D2DAE1;
  }
}
@media (max-width: 600px) {
  .order-info {
    padding: 20px;
  }
  .order-info__summ {
    font-size: 24px;
  }
  .order-info__products {
    margin-bottom: 12px;
  }
}
/* информация о заказе */
/* Оформление заказа */
.order__block {
  margin-bottom: 32px;
}
.order__tab-content {
  margin-bottom: 32px;
  display: none;
}
.order__title {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 130%;
  font-size: 20px;
}
.order__form-line {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.order__tabs {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}
.order__tab {
  display: block;
  padding: 16px 32px;
  border: 1px solid #D2DAE1;
  color: #141414;
}
.order__tab.active {
  border: 1px solid #000479;
  color: #000479;
}
.order__pickup {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D2DAE1;
  font-weight: 300;
}
.order__pickup-title {
  margin-bottom: 8px;
  font-weight: 700;
  color: #141414;
}
.order__pickup-item {
  margin-top: 16px;
}
.order__pickup-name {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(0, 26, 52, 0.60);
}
.order__count {
  margin-bottom: 8px;
  font-weight: 300;
  color: rgba(0, 26, 52, 0.60);
}
.order__summ {
  margin-bottom: 32px;
  line-height: 120%;
  font-weight: 500;
  font-size: 32px;
  color: #141414;
}
.order__pickup-map {
  width: 260px;
  overflow: hidden;
  position: relative;
  height: 174px;
}
.order__pickup-map a {
  display: block;
  width: 100%;
  height: 100%;
}
.order__pickup-map img {
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 174px;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .order__summ {
    font-size: 28px;
  }
  .order__pickup {
    padding: 24px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .order__tab {
    width: 50%;
    text-align: center;
  }
  .order__pickup {
    padding: 20px;
    display: block;
  }
  .order__pickup-map {
    width: 100%;
  }
  .order__summ {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
/* Оформление заказа */
/* баннер услуг */
.service-banner {
  padding: 50px 90px 50px 50px;
  box-sizing: border-box;
  width: 100%;
  height: 427px;
  position: relative;
  color: #FFF;
  z-index: 1;
}
.service-banner h1 {
  margin-bottom: 16px;
  color: #FFF;
}
.service-banner__subtitle {
  font-weight: 300;
  font-size: 18px;
}
.service-banner__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.service-banner__img::after {
  content: '';
  background: linear-gradient(0deg, rgba(0, 4, 121, 0.10) 0%, rgba(0, 4, 121, 0.10) 100%), linear-gradient(0deg, rgba(20, 20, 20, 0.44) 0%, rgba(20, 20, 20, 0.44) 100%);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}
.service-banner__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-banner__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}
.service-banner__btn-line {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.service-banner__present img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.service-banner__present {
  font-weight: 300;
}
.service-banner__present b {
  font-weight: 700;
  text-transform: uppercase;
}
.service-banner__pricebox {
  margin-bottom: 10px;
}
.service-banner__price {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}
.service-banner__price sup {
  font-size: 20px;
}
.service-banner__price::before {
  content: '';
  display: inline-block;
  width: 8px;
  vertical-align: middle;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.service-banner__name {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .service-banner {
    padding: 32px;
    height: 380px;
  }
  .service-banner__content {
    flex-direction: column;
    align-items: start;
  }
  .service-banner__pricebox {
    width: 100%;
    text-align: right;
    order: -1;
  }
  .service-banner__price {
    font-size: 28px;
  }
  .service-banner__price sup {
    font-size: 14px;
  }
  .service-banner__name {
    font-size: 16px;
  }
  .service-banner__btn-line {
    margin-top: 36px;
    gap: 24px;
  }
}
@media (max-width: 600px) {
  .service-banner {
    padding: 0;
    height: auto;
  }
  .service-banner__info {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 400px;
  }
  .service-banner__content {
    display: block;
  }
  .service-banner__pricebox {
    text-align: center;
    color: #000479;
  }
  .service-banner__btn-line {
    flex-direction: column;
    align-items: flex-start;
  }
  .service-banner__btn {
    width: 100%;
  }
  .service-banner__present {
    display: flex;
    gap: 10px;
  }
  .service-banner__subtitle {
    font-size: 16px;
  }
  .service-banner__pricebox {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
/* баннер услуг */
/* левое меню */
.left-menu {
  padding: 24px;
  margin: 0 0 16px;
  border: 1px solid #D2DAE1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style-type: none;
}
.left-menu__link {
  font-size: 15px;
  font-weight: 300;
  color: #141414;
}
.left-menu__link.active {
  font-weight: 500;
}
@media (max-width: 1200px) {
  .left-menu {
    display: none;
  }
}
/* левое меню */
/* таблица цен */
.price-table {
  overflow: hidden;
}
.price-table__tr {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  z-index: 1;
}
.price-table__name {
  padding-right: 10px;
  background: #fff;
  color: rgba(0, 26, 52, 0.60);
  position: relative;
}
.price-table__name::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  right: -100vw;
  border-bottom: 1px dotted #D2DAE1;
  z-index: -1;
}
.price-table__val {
  padding-left: 10px;
  background: #fff;
  max-width: 51%;
  text-align: right;
  color: #141414;
}
@media (max-width: 600px) {
  .price-table__val {
    text-align: left;
    max-width: 60%;
    width: 60%;
  }
  .price-table__name {
    width: 40%;
  }
  .price-table__name::after {
    display: none;
  }
}
/* /таблица цен */
/* виды покрытий */
.types {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  counter-reset: item;
}
.types__item {
  padding: 24px;
  width: calc(50% - 12px);
  box-sizing: border-box;
  background: #F7F7F8;
  position: relative;
  counter-increment: item;
  font-weight: 300;
  z-index: 1;
}
.types__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: 0;
  width: 2px;
  background: #000479;
}
.types__item::after {
  content: counter(item, decimal-leading-zero);
  display: block;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 80px;
  font-weight: 700;
  color: #FFF;
  z-index: -1;
}
@media (max-width: 600px) {
  .types__item {
    padding: 16px 20px;
    width: 100%;
  }
}
/* /виды покрытий */
/* этапы с картинками */
.pictures-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.pictures-steps__item {
  padding: 24px;
  width: calc(50% - 12px);
  box-sizing: border-box;
  background: #F3F3F5;
  font-weight: 300;
}
.pictures-steps__item img {
  margin: auto;
  display: block;
}
.pictures-steps__img {
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .pictures-steps__item {
    padding: 16px;
    width: 100%;
  }
  .pictures-steps__img {
    margin-bottom: 16px;
  }
}
/* /этапы с картинками */
/* этапы */
.steps {
  position: relative;
}
.steps__item {
  padding-bottom: 32px;
  padding-left: 24px;
  position: relative;
}
.steps__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000479;
  z-index: 1;
}
.steps__item::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 4px;
  bottom: -7px;
  border-left: 1px dashed #D2DAE1;
}
.steps__item:last-child {
  padding-bottom: 0;
}
.steps__item:last-child::after {
  display: none;
}
@media (max-width: 1200px) {
  .steps__item {
    padding-bottom: 24px;
  }
}
@media (max-width: 600px) {
  .steps__item {
    padding-bottom: 12px;
  }
}
/* /этапы */
/* этапы с иконками */
.steps-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  counter-reset: item;
}
.steps-img__item {
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: calc(33.33% - 18px);
  box-sizing: border-box;
  background: #F7F7F8;
  position: relative;
  counter-increment: item;
  font-weight: 300;
  z-index: 1;
}
.steps-img__item::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  width: 2px;
  height: 14px;
  background: #000479;
}
.steps-img__item::after {
  content: counter(item, decimal-leading-zero);
  display: block;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 80px;
  font-weight: 700;
  color: #FFF;
  z-index: -1;
}
.steps-img__img {
  width: 40px;
}
.steps-img__txt {
  max-width: calc(100% - 100px);
}
@media (max-width: 1200px) {
  .steps-img__item {
    width: calc(50% - 12px);
  }
}
@media (max-width: 600px) {
  .steps-img {
    gap: 12px;
  }
  .steps-img__item {
    padding: 16px 20px;
    width: 100%;
  }
}
/* /этапы с иконками */
/* плашки со счетчиком */
.info-plashes {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  counter-reset: item;
}
.info-plashes__item {
  padding: 24px;
  width: calc(50% - 12px);
  box-sizing: border-box;
  background: #F7F7F8;
  position: relative;
  counter-increment: item;
  font-weight: 300;
  z-index: 1;
}
.info-plashes__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  left: 0;
  width: 2px;
  height: 14px;
  background: #000479;
}
.info-plashes__item::after {
  content: counter(item, decimal-leading-zero);
  display: block;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 80px;
  font-weight: 700;
  color: #FFF;
  z-index: -1;
}
.info-plashes--nocount .info-plashes__item::after { 
  display: none;
}
@media (max-width: 600px) {
  .info-plashes {
    gap: 12px;
  }
  .info-plashes__item {
    padding: 20px;
    width: 100%;
  }
}
/* /плашки со счетчиком */
/* фото о компании */
.about-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
@media (max-width: 600px) {
  .about-photo {
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }
  .about-photo__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .about-photo__item img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}
/* /фото о компании */
/* технологии */
.technologies {
  display: flex;
  flex-wrap: wrap;
}
.technologies__item {
  width: 50%;
}
.technologies__item:nth-child(2n-1) {
  padding-right: 80px;
  border-right: 1px solid #D2DAE1;
}
.technologies__item:nth-child(2n) {
  padding-left: 80px;
}
.technologies__img {
  margin-bottom: 32px;
}
.technologies__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .technologies__item:nth-child(2n-1) {
    padding-right: 18px;
    border-right: 1px solid #D2DAE1;
  }
  .technologies__item:nth-child(2n) {
    padding-left: 48px;
  }
}
@media (max-width: 600px) {
  .technologies__item {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0 20px;
  }
  .technologies__img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .technologies__title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 18px;
  }
  .technologies__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  .technologies__item:nth-child(2n-1) {
    padding-right: 0;
    padding-bottom: 32px;
    border-right: none;
    border-bottom: 1px solid #D2DAE1;
  }
  .technologies__item:nth-child(2n) {
    padding-left: 0;
    padding-top: 32px;
  }
}
/* /технологии */
/* Сертификаты */
.certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.certificates__item {
  display: block;
  width: calc(25% - 18px);
}
.certificates__item img {
  display: block;
}
@media (max-width: 600px) { 
  .certificates {
    gap: 12px;
  }
  .certificates__item {
    display: block;
    width: calc(50% - 6px);
  }
}
/* /Сертификаты */

/* таблица цен */
.table {
  overflow: hidden;
}
.table table {
  width: 100%;
}
.table tr {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  z-index: 1;
}

.table td:first-child::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  right: -100vw;
  border-bottom: 1px dotted #D2DAE1;
  z-index: -1;
}
.table td {
  padding-left: 10px;
  background: #fff;
  color: #141414;
}
.table td:first-child {
  padding-left: 0;
  padding-right: 10px;
  background: #fff;
  color: rgba(0, 26, 52, 0.60);
  position: relative;
}
.table td:last-child {
  text-align: right;
}
@media (max-width: 600px) {
  .table td::after {
    display: none;
  }
}
@media (max-width: 600px) {  
  .table tr {

  }
  .table td:first-child {
    width: 40%;
  }
  .table td:last-child {
    text-align: left;
    width: 60%;
  }
}
/* /таблица цен */
/* фото о компании */
.project-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.project-photos__img {
  display: block;
  width: 100%;
}
@media (max-width: 600px) {
  .project-photos {
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }
}
/* /фото о компании */
/* преимущества */
.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.benefits__item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 700;
}
.benefits__img {
  width: 64px;
  min-width: 64px;
}
@media (max-width: 1200px) {
  .benefits__img {
    width: 48px;
    min-width: 48px;
  }
}
@media (max-width: 600px) {
  .benefits {
    flex-wrap: wrap;
    gap: 20px;
  }
  .benefits__item {
    width: 100%;
    gap: 16px;
  }
  .benefits__img {
    width: 40px;
    min-width: 40px;
  }
}
/* /преимущества */
/* автопарк */
.park {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.park__item {
  width: calc((100% - 48px) / 3);
  font-weight: 300;
}
.park__img {
  margin-bottom: 24px;
}
.park__img img {
  display: block;
  max-height: 240px;
}
.park__title {
  margin-bottom: 16px;
  line-height: 130%;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .park__img {
    margin-bottom: 16px;
  }
  .park__title {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .park {
    gap: 20px;
  }
  .park__item {
    width: 100%;
  }
}
/* /автопарк */
